# Godot 4+ specific ignores
.godot/
/android/
/ios/
*.translation

# Imported translations
*.loc
*.MO

# Export presets
export_presets.cfg

# System / Tools
.vscode/
.idea/
.DS_Store
Thumbs.db
*.bak
*.tmp
addons/godot-plugin-refresher/